:root {
  --color-cafe-principal: #8C774C;
  --color-cafe-oscuro: #595242;
  --color-crema: #F2E7D0;
  --color-amarillo-suave: #FFE2A8;
  --color-amarillo-queso: #FFCF6A;

  --ion-color-primary: #FFCF6A;
  --ion-color-primary-rgb: 255, 207, 106;
  --ion-color-primary-contrast: #595242;
  --ion-color-primary-contrast-rgb: 89, 82, 66;
  --ion-color-primary-shade: #e0b65d;
  --ion-color-primary-tint: #ffd479;

  --ion-color-secondary: #8C774C;
  --ion-color-secondary-rgb: 140, 119, 76;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #7b6943;
  --ion-color-secondary-tint: #98855e;

  --ion-color-tertiary: #FFE2A8;
  --ion-color-tertiary-rgb: 255, 226, 168;
  --ion-color-tertiary-contrast: #595242;
  --ion-color-tertiary-contrast-rgb: 89, 82, 66;
  --ion-color-tertiary-shade: #e0c794;
  --ion-color-tertiary-tint: #ffe5b1;

  --ion-background-color: #F2E7D0;
  --ion-text-color: #595242;
  --ion-toolbar-background: #8C774C;
  --ion-toolbar-color: #ffffff;
  --ion-font-family: Arial, Helvetica, sans-serif;
}
